@import '@adyen/adyen-web/styles/adyen.css';

.adyen-checkout__dropin .adyen-checkout__applepay__button {
  -webkit-appearance: -apple-pay-button;
}

cx-apple-express-payment .adyen-checkout__applepay__button {
  width: 100%;
  -webkit-appearance: -apple-pay-button;
}
